<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="name" class="com.demo.spring.Name">
		<property name="firstName" value="Shantanu" />
		<property name="lastName" value="Banerjee" />
	</bean>
	<bean id="address" class="com.demo.spring.Address">
		<property name="doorNo" value="123" />
		<property name="city" value="Hyderabad" />
		<property name="pin" value="500097"></property>
	</bean>
</beans>
